[Unit]
Description=FastAPI nftables API
After=network.target

[Service]
Environment="IP_BIND=192.168.221.48:8080"
Environment="ACCESS_LOG=/var/log/fastapi/gunicorn-access.log"
Environment="ERROR_LOG=/var/log/fastapi/gunicorn-error.log"
Environment="PATH=/var/www/html/api_nftables/.venv/bin"
Environment="TLS_PEM=/etc/ssl/wildcard.secar.cz.pem"
Environment="TLS_KEY=/etc/ssl/wildcard.secar.cz.pem"
Environment="TLS_VER=TLSv1_1"

#Type=forking
#Restart=always
User=www-data
Group=www-data

WorkingDirectory=/var/www/html/api_nftables/nftables
ExecStart=/var/www/html/api_nftables/.venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker -u www-data -g www-data -b $IP_BIND --access-logfile $ACCESS_LOG --error-logfile $ERROR_LOG --pythonpath /var/www/html/api_nftables/nftables/ --keyfile $TLS_KEY --certfile $TLS_PEM --ssl-version $TLS_VER main:app

[Install]
WantedBy=multi-user.target
